header {
    color: white;
}

body {
    background-image: url('../images/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#foto-perfil {
    border-radius: 100%;
    align-content: center;
    text-align: center;
    margin-top: 25px;
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

#nombre {
    text-align: center;
    margin-top: 50px;
    position: relative;
    font-size: 20px;
}

.cabecera {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
    color: white;
    text-align: center;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.box {
    border-radius: 119px 119px 119px 119px;
    -moz-border-radius: 119px 119px 119px 119px;
    -webkit-border-radius: 119px 119px 119px 119px;
    border: 1px solid #000000;
    
    margin-top: 15px;
    margin-bottom: 15px;

}

.checked {
    background-color: #81F781;
}

.cancel {
    background-color: #F78181;
}

.titulo {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #404040;
    text-align: center;
}

.titulo > a {
    text-decoration: none;
    color: #404040;
}

.subtitulo {
    color: #808080;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

.subtitulo > a {
    text-decoration: none;
    color: #404040;
}

.box img{
    margin-left: 45%;
}

footer{
    color: white;
    text-align: center;
}